<%- include("partials/header"); -%>


<div class="card text-white bg-light rounded-top rounded-left border-dark ">

<div class="card-body">
  <h1 class="card-title">Artificil Intelligence</h1>
  <p class="card-text "><%= startingContent %></p>

</div>
</div>

<% posts.forEach(function(post){ %>
  <div class="card text-white bg-light rounded-top border-dark ">

  <div class="card-body">
    <h1 class="card-title"> <%= post.title %></h1>
    <p class="card-text"><%= post.content.substring(0,50)+"..." %></p>
    <a href="/posts/<%= post.title %>" class="btn btn-primary">Read complete post</a>
  </div>
</div>
<% }) %>

<%- include("partials/footer"); -%>
